<div class="row">
  <div class="col-md-12">
    <h2>My Work 
      <%= link_to new_work_path, class: "btn btn-success btn-xs" do %>
        <i class="fa fa-plus" aria-hidden="true"></i> Add New Work
      <% end %>
    </h2>
    <hr>
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Start date</th>
          <th>End date</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @works.each do |work| %>
          <tr>
            <td><%= work.name %></td>
            <td><%= work.description %></td>
            <td><%= work.start_date %></td>
            <td><%= work.end_date %></td>
            <td>
              <%= link_to work do %>
                <i class="fa fa-eye" aria-hidden="true"></i> Show
              <% end %>
            </td>
            <td>
              <%= link_to edit_work_path(work) do %>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
              <% end %>
            </td>
            <td>
              <%= link_to work, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div><!-- end row -->