<div class="row">
  <div class="col-md-9">
    <h2><%= @project.name %></h2>
    <hr>
    <small>Project posted <%= time_ago_in_words(@project.created_at) %> ago by <%= @project.user.full_name %> </small>
    <br><br>
    <h4><%= @project.description %></h4>
    <hr>
    <h5>Location: <%= @project.city %></h5>
    <h5>Deadline: <%= @project.deadline.strftime("%b %d, %Y") %></h5>
    
  </div><!-- end col-md-9 -->
  <div class="col-md-3">
    <h2>Interested?</h2>
    <hr>
    <%= link_to new_conversation_path, class: "btn btn-success btn-lg" do %>
      <i class="fa fa-envelope-o" aria-hidden="true"></i> <%= @project.user.full_name %>
    <% end %>
  </div>
</div><!-- end row -->