<!DOCTYPE html>
<html>
<head>
  <title>Tradesgram</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  <%= render 'layouts/registered_user_nav' %>
<% else %>
  <%= render 'layouts/non_user_nav' %>
<% end %>


<% flash.each do |type, content| %>
    <% if content.respond_to?('each') 
        content.each do |item| %>
            <%= render 'layouts/alert', 
                type: type,
                content: item %>
        <% end %>
    <% else %>
        <%= render 'layouts/alert', 
                type: type,
                content: content %>
    <% end %>
<% end %>
<div class="container">
	<%= yield %>
</div><!-- end container -->
<%= render 'layouts/footer' %>
</body>
</html>
